:root{
    --bg-color: #ffffff;
    --font-color: rgb(0, 0, 0);
    --header-color: rgb(74, 234, 25);
}

h1{
    text-align: center;
    color: var(--header-color);
    font-size: 3rem;
}

#nav_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8rem;
    margin-bottom: 2rem;
    
}

#nav_bar > a{
    color: var(--font-color);
    font-size: 22px;
    text-decoration: none;
}

#nav_bar > a:hover{
    color: rgb(15, 44, 206);
}

.website_cover_parent{
    display: flex;
    justify-content: center;
}

#website_cover{
    padding-bottom: 3rem;
    width: 60%;
    height: 15rem;
}

body {
    background-color: var(--bg-color);
    line-height: 1.6;
}

.contact_me{
    display: flex;
    justify-content: center;
}

.contact_me label{
    display: inline-block;
    width: 150px;
    vertical-align:top;
}

.contact_me input, 
.contact_me textarea{
    width: 200px;
    padding: 0.8vh;
    margin-bottom: 1.5vh;
}

.contact_me .required::after{
    content: "*";
    color: red;
}

.contact_me label + input {
    background-color: rgb(219, 248, 237);
}

.contact_me textarea{
    width: auto;
}

.contact_me #myta{
    margin-top: 1rem;
}

.contact_me #resetBtn {
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 4px;
    margin-right: 2vw;
}

.contact_me #submitBtn {
    background-color: #eb6f2c;
    color: white;
    border: none;
    border-radius: 4px;
}



.skills_table{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-left: 20vw;
    margin-right: 50vw;
    overflow-x: auto;
    overflow-y: auto;
}

.skills_table table{
    border: 2px solid black;
    margin: 0 auto;
    border-spacing: 1.5vw;
    border-collapse: separate;
    padding: 1.5vw;
    width: 50%;

}

.skills_table td{
    border: 1px solid;
    vertical-align: top;
    padding: 0.5vw;
    text-align: center;
}

.skills_table td:hover{
    color: rgb(14, 143, 242);
    cursor: default;
}

.skills_table th{
    margin: auto;
    color: darkolivegreen;
    border: 1px solid skyblue;
    text-align: center;
}

.skills_table caption{
    font-size: 25px;
    font-style: italic;
    color: rgb(224, 183, 16);
    letter-spacing: 0.2vw;
    text-decoration: underline;
    margin-bottom: 14px;
}



footer{
    color: rgb(255, 0, 0);
    text-align: right;
}