@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
padding: 0;
bottom: 0;
box-sizing: border-box;
font-family: "Archivo", sans-serif;
}

:root{
--bg-color: #ffffff;
--midnight-blue: #003B6D;
--dim-gray: #676767;
--silver: #bdbdbd;
--blue-sky: #6699cc;
}

header{
display: flex;
justify-content: center;
flex-direction: row-reverse;
background-color: var(--silver);
max-width: 1000px;
margin-inline: auto;
padding: 0.8rem;
border-radius: 90px;
border: 4px solid var(--blue-sky);
gap: 4rem;
}

header > h1{
color: var(--midnight-blue);
font-size: 45px;
font-weight: 500;
letter-spacing: 0.5px;
margin-top: 3.9rem;
}

body{
display: flex;
justify-content: center;
min-height: 100dvh;
line-height: 1.6;
background-color: var(--bg-color);
}

.container{
    max-width: 1200px;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--silver);
    max-width: 1000px;
    margin-inline: auto;
    border-radius: 90px;
    border: 4px solid var(--blue-sky);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.nav-links{
    display: flex;
    gap: 4rem;
    font-size: 18px;
    position: relative;
}

.nav-link a{
    color: var(--midnight-blue);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    display: inline-block;
    transition: scale 0.3s ease-in-out;
}

.nav-link a:hover{
    color: aquamarine;
    scale: 1.1;
}

.nav-link, .dropdown li, .nav-link a{
    list-style: none;
    text-decoration: none;
}

.pexperts, 
.faqs, 
.utility{
    position: relative;
}

.dropdown{
    display: none;
    position: absolute;
    top: 0;
    left: -10px;
    height: 320px;
    width: 200px;
    background: var(--silver);
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 1.8rem;
    transition: all 0.3s;
}

.dropdown li, .faqs_drop li, .utility_drop li{
    padding: 1.2rem;
    border: 3px solid var(--blue-sky);
    width: 180px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    margin: 2rem 0;
}

.dropdown li a, 
.faqs_drop li a, 
.utility_drop li a{
    font-size: 18px;
}

.cat_drop{
    display: none;
    position: absolute;
    height: 230px;
    width: 210px;
    left: 180px;
    top: -35px;
    background-color: var(--silver);
    padding: 0 1rem;
    border-radius: 10px;
}

.pexperts:hover .dropdown,
.dropdown li:hover .cat_drop, 
.dropdown li:hover .dog_drop, 
.dropdown li:hover .fish_drop,
.faqs:hover .faqs_drop,
.utility:hover .utility_drop{
    display: block;
}

.dog_drop{
    display: none;
    position: absolute;
    height: 240px;
    width: 210px;
    left: 180px;
    top: -35px;
    background-color: var(--silver);
    padding: 0 1rem;
    border-radius: 10px;
}

.fish_drop{
    display: none;
    position: absolute;
    height: 260px;
    width: 210px;
    left: 180px;
    top: -35px;
    background-color: var(--silver);
    padding: 0 1rem;
    border-radius: 10px;
}

.faqs_drop{
    display: none;
    list-style: none;
    position: absolute;
    top: 0;
    left: -60px;
    height: 320px;
    width: 200px;
    background: var(--silver);
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 1.8rem;
    transition: all 0.3s;
}

.utility_drop{
    display: none;
    list-style: none;
    position: absolute;
    top: 0;
    left: -30px;
    height: 380px;
    width: 200px;
    background: var(--silver);
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 1.8rem;
    transition: all 0.3s;
}

.contact_info{
    display: grid;
    justify-content: center;
    max-width: 650px;
    margin-inline: auto;
    border: 2px solid var(--midnight-blue);
    border-radius: 40px;
    border-spacing: 1.5rem;
}

.table_logo{
    display: grid;
    padding: 1rem 0;
}

.contact_info tr:nth-child(n+2){
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 2rem;
    padding: 10px 0;
}

.contact_info td{
    border: 2px solid var(--dim-gray);
    border-radius: 20px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    width: 70%;
    margin-inline: auto;
}

.contact_info a{
    text-decoration: none;
    color: var(--blue-sky);
    font-weight: 500;
    display: inline-block;
    transition: scale 0.3s ease-in-out;
}

.contact_info a:hover{
    scale: 1.3;
}