nav{
    display: flex;
    margin-bottom: 2rem;
    background-color: var(--header-color);
    max-width: 1200px;
    margin-inline: auto;
    padding: 0.8rem;
    border-radius: 70px;
}

.header-container{
    display: flex;
    justify-content: space-evenly;
    gap: 35rem;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-links{
    display: flex;
    list-style: none;
    column-gap: 8rem;
    margin: 0;
    padding: 0;
}

.nav-links a{
    display: inline-block;
    color: var(--font-color);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.5px;
    transition: scale 0.3s ease-in-out;
}

.nav-links a:hover{
    color: rgb(244, 11, 11);
    cursor: pointer;
    scale: 1.3;
}

.nav-links li{
    display: flex;
    column-gap: 20rem;
}
img{
    display: flex;
    margin-inline: auto;
    margin-bottom: 2rem;
}
