/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-color: #ffffff;
    --font-color: rgba(34, 83, 168, 0.914);
    --header-color: #d2ff3d;
    --table-row-color: #dcef90;
}

body{
    font-family:'Roboto', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

@media(max-width: 600px){
    body{
        max-width: 600px;
        font: 12px;
        margin: 0;
        padding: 5px;
        justify-content: flex-start;
    }
}